@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-theme="light"] {
  --text: #05100f;
  --background: #effbfa;
  --primary: #5cb7ad;
  --secondary: #d397b3;
  --accent: #c5a17c;
}
body[data-theme="dark"] {
  --text: #effaf9;
  --background: #04100f;
  --primary: #48a398;
  --secondary: #682c48;
  --accent: #835e3a;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--accent);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}
